<h1>Hello Mr. Dhungana</h1>
<br>
<h2>Your can do your assignment of ASP.Net here from today</h2>


<h2>Multiplication Table of 19</h2>
@for (int i = 1; i < 11; i++)
{
int output = i * 19;
<h3>@output</h3>
}

<h2>Number from 5 to 20</h2>
@for (int i = 5; i < 20; i++)
{
    <h3>@i</h3>
}
<h1>multiple of 5 and 3 less than 50</h1>
@for (int i = 0; i < 50; i++)
{
    if (i % 3 == 0 && i % 5 == 0)
    {
        <h3>@i</h3>
    }
}
